*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}


body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(
to bottom,
#CE1126 33%,
white 33%,
white 66%,
#000000 66%
);

}


.italy-flag{

position:absolute;

top:20px;

right:20px;

width:60px;

}


.container{

width:90%;

max-width:700px;

background:rgba(255,255,255,.92);

padding:40px;

border-radius:20px;

box-shadow:0 0 25px rgba(0,0,0,.4);

text-align:center;

}


h1{

font-size:55px;

color:#0d6efd;

margin-bottom:10px;

}


h2{

font-size:28px;

margin-bottom:25px;

}


p{

font-size:22px;

margin-bottom:25px;

}


button{

background:#0d6efd;

color:white;

padding:15px 35px;

font-size:22px;

border:none;

border-radius:10px;

cursor:pointer;

transition:.3s;

}


button:hover{

background:#084298;

transform:scale(1.05);

}


#result{

margin-top:30px;

font-size:28px;

font-weight:bold;

color:#006400;

}


#result span{

color:#0d6efd;

}

#shopForm{
    max-width:500px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:10px;
}

#shopForm input{
    padding:12px;
    border-radius:8px;
    border:1px solid #ccc;
}

#shopForm button{
    padding:12px;
    cursor:pointer;
}

.shop-card{
    border:1px solid #ddd;
    border-radius:10px;
    padding:15px;
    margin:15px 0;
}
